@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
body {
  background-color: #e5e5e5;
}
.header {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1282px;
  padding: 0px 15px;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-image {
  display: block;
  width: 44px;
  height: 49px;
  background-image: url(/img/logo.svg);
}
.logo-name {
  display: block;
  width: 140px;
  height: 24px;
  background-image: url(/img/shield.svg);
}
.nav a {
  margin-right: 40px;
}
.nav button {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 5px;
    padding: 11px 35px;
    background-color: #03045E;
}
